<form method="post" action ="/api/users">
    <input placeholder="first name" type="text" name ="firstname" label="first name" required>
    <br>
    <br>
    <input placeholder="last name" type="text" name ="lastname" label="last name" required>
    <br>
    <br>
    <input placeholder="enter email" type="email" name="email" label="email name"> 
    <br>  
    <br> 
    <input placeholder="enter password" type="password" name="password" label="password" required> 
    <br>  
    <br> 
    <button type = "submit" value ="ok">Submit</button>
</form>