<form method="post" action ="/api/products">
    <input placeholder="product_name" type="text" name ="productname" label="product_name" required>
    <br>
    <br>
    <input placeholder="product_description" type="text" name ="productdescription" label="product_description" required>
    <br>
    <br>
    <input placeholder="Image" type="file" name="productimage" label="productimage" required> 
    <br>  
    <br> 
    <button type = "submit" value ="ok">Submit</button>
</form>